* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #3e3f3f;
    background: #4C1130;
    font-size: 11px;
    line-height: 1.3;
    margin: 0;
    font-weight: 500;
}