* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: #4C1130;
    font-size: 13px;
    line-height: 1.3;
    margin: 0;
    font-weight: 500;
}

.container{
    padding: 1em;
    margin: 0 auto;
}

header {
    text-align: center;
}

main{
    padding: 1em;
}

#accordion{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 30em;
}

#accordion li{
    border-radius: 4px;
    margin-bottom: 1em;
    background: #fff;
    padding: 1px;
}

@media screen and (min-width: 320px){
    body{
        font-size: 16px;
    }
}

.link{
    display: block;
    text-decoration: none;
    cursor: auto;
}

@media screen and (min-width: 820px){
    .link:hover{
        background: antiquewhite;
        cursor: pointer;
    }
    body{
        font-size: 19px;
    }
}

.link:active{
    opacity: 0.4;
}

#accordion li label{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    color: yellowgreen;
}

#accordion label + input[type="radio"]{
    display: none;
}

#accordion .content{
    padding: 0 1em;
    line-height: 1.5em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

.icon{
    width: 1em;
    height: 0;
    transition: height 0.5s;
}

ul:hover .icon{
    background: transparent url(./assets/plus.svg) no-repeat;
    height: 1em;
}

#accordion .link:hover .icon{
    background: transparent url(./assets/ic.svg) no-repeat;
    height: 1em;
}

#accordion li:hover .content{
    max-height: 30em;
}

#accordion label + input[type="radio"]:checked + .content{
    max-height: 30em;
}

.meme{
    width: 100%;
    height: auto;
    max-width: 30em;
}